@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 100px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    transition: all .1s ease-in-out;
}

.day {
    background-color: lightgray;
}

.high-temp {
    color: red;
    font-weight: bolder;
}

.low-temp {
    color: #2b78e4;
    font-weight: bolder;
}

.high-temp::after, .low-temp::after {
    content: "°";
}